<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'polls/style.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>Pronostics CDM 2022</title>
  </head>

  <header class="header">
    <div></div>
    <div class="header__title">Pronostics Coupe du Monde 2022</div>
    <div class="header__item">
      {% if user.is_authenticated %} Hi
      <span class="header__name">{{ user.username }}!</span>
      <p><a class="header__link" href="{% url 'logout' %}">Log Out</a></p>
      {% else %}
      <p>You are not logged in</p>
      <a class="header__link" href="{% url 'login' %}">Log In</a>
      {% endif %}
    </div>
  </header>

  <body>
    <div class="content">{% block content %}{% endblock %}</div>
  </body>
</html>
