<!DOCTYPE html>
<html lang="en">
  <input type="hidden" id="refreshed" value="false">
  <script type="text/javascript">
      $(window).load(function(){
          if ($('#refreshed').val() == "false") {
            $('#refreshed').val("true"); 
          }
          else {
            $('#refreshed').val("false");
            location.reload();
          }
        });
  </script>

  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'polls/style.css' %}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <title>Pronostics CDM 2022</title>
  </head>

  <header class="header">
    <div class="header__home">
      <button>
        <a href="{% url 'polls:indexPoll' %}">Home</a>
      </button>
    </div>
    <div class="header__title">Pronostics Coupe du Monde 2022</div>
    <div class="header__item">
      {% if user.is_authenticated %}
        Bonjour
        <span class="header__name">{{ user.username }}!</span>
        <p>
          <a class="header__link" href="{% url 'logout' %}">Se déconnecter</a>
        </p>
      {% else %}
        <p>Vous n'êtes pas connecté :</p>
        <a class="header__link" href="{% url 'login' %}">Se connecter</a>
      {% endif %}
    </div>
  </header>

  <body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
        {% endfor %}
    </ul>
    {% endif %}
    
    <div class="content">
      {% block content %}{% endblock %}
    </div>
  </body>

</html>
