{% extends "index.html" %}
{% block content %}
  <div class="poll">
    <h1 class="poll__name">{{poll.name}}</h1>

    <div class="poll__section poll__section--not-last">
      <div class="poll__title">
        <i class="fa-solid fa-circle-question poll__icon"></i>
        <h2 class="poll__title-text">{{"Questions"}}</h2>
      </div>
      <div class='questions'>
        {% for question in questions %}
          {% include 'polls/pronosticQuestion.html' %}
        {% endfor %}
      </div>

    </div>

    <div class="poll__section poll__section--not-last">
      <div class="poll__title">
        <i class="fa-solid fa-ranking-star poll__icon"></i>
        <h2 class="poll__title-text">{{"Classements"}}</h2>
      </div>
      <div class='groups'>
        {% for group in groups %}
          {% include 'polls/pronosticGroup.html' %}
        {% endfor %}
      </div>
    </div>

    <div class="poll__section">
      <div class="poll__title">
        <i class="fa-solid fa-futbol poll__icon"></i>
        <h2 class="poll__title-text">{{"Matchs"}}</h2>
      </div>
      <div class='matchs'>
        <ul>
          {% for match in matchs %}
            {% include 'polls/pronosticMatch.html' %}
          {% endfor %}
        </ul>
      </div>
    </div>

  </div {% endblock %}
