{% extends "index.html" %}
{% block content %}
  <div class="poll">
    <h1 class="poll__name">{{poll.name}}</h1>

    <div class="poll__section poll__section--not-last">
      <div class="poll__title">
        <i class="fa-solid fa-futbol poll__icon"></i>
        <h2 class="poll__title-text">{{"Matchs"}}</h2>
      </div>
      <div class="poll__point_definition">
        {{"Score exact : 5 points, bonne différence de buts : 3 points, bon vainqueur : 2 points."}}
      </div>
      <div class='matchs'>
        {% for match in matchs %}
          {% include 'polls/pronosticMatch.html' %}
        {% endfor %}
      </div>

    </div>

    <div class="poll__section poll__section--not-last">
      <div class="poll__title">
        <i class="fa-solid fa-ranking-star poll__icon"></i>
        <h2 class="poll__title-text">{{"Classements"}}</h2>
      </div>
      <div class="poll__point_definition">
        {{"12 points moins 2 fois la "}} <a class="poll__link" href="https://en.wikipedia.org/wiki/Kendall_tau_distance">Kendall tau distance</a> {{ " entre le pronostic et la vérité."}}
      </div>
      <div class='groups'>
        {% for group in groups %}
          {% include 'polls/pronosticGroup.html' %}
        {% endfor %}
      </div>
    </div>

    <div class="poll__section">
      <div class="poll__title">
        <i class="fa-solid fa-circle-question poll__icon"></i>
        <h2 class="poll__title-text">{{"Questions"}}</h2>
      </div>
      <div class="poll__point_definition">
        {{"Les questions ne concernent que la "}}{{poll.name}}{{" (sauf la première). Le nombre de points remportés dépend de la question."}}
      </div>
      <div class='questions'>
        {% for question in questions %}
          {% include 'polls/pronosticQuestion.html' %}
        {% endfor %}
      </div>
    </div>

  </div>
{% endblock %}
