{% if latest_match_list %}
    <ul>
    {% for match in latest_match_list %}
        <li>{{ match.squad_1 }} {{ " " }} <input type="number" id="choice{{ match.id }}_1" name="choice" value="{{ match.matchchoice_set.filter }}"></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No matchs are available.</p>
{% endif %}
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No questions are available.</p>
{% endif %}