{% extends "index.html" %}
{% block content %}
  {% if user.is_authenticated %}
    {% if polls %}
    <div class="title">Questionnaires</div>
      <ul>
        {% for poll in polls %}
          <li>
            <a href="{% url 'polls:detailPoll' poll.id %}">{{ poll }}</a>
          </li>
        {% endfor %}
      </ul>
      <a href="{% url 'polls:results' %}">{{ "Classement" }}</a>
    {% else %}
      <p>No polls are available.</p>
    {% endif %}
  {% else %}
    <ul>
      <p>Vous n'êtes pas connecté :
      <a href="{% url 'login' %}">Se connecter</a></p>
      <p>Si vous n'avez pas encore créé de compte :
      <a href="{% url 'register' %}">S'enregistrer</a></p>
    </ul>
  {% endif %}
{% endblock %}