<li>{{ question }}</li>
{% if question.isfilled %}

{% if question.isPronoOver %}
<li>{{ question.prono }}</li>
{% else %}
<form action="{% url 'polls:pronosticQuestion' question.id %}" method="post">
{% csrf_token %}
<li><input type="text" name="answer" id="choice{{ question.id }}" value="{{ question.prono }}"> <input type="submit" value="Mettre à jour"></li>
</form>
{% endif %}

{% elif question.isPronoOver %}
<li>{{ "Pas de pronostic pour cette question" }}</li>

{% else %}
<form action="{% url 'polls:pronosticQuestion' question.id %}" method="post">
{% csrf_token %}
<li><input type="text" name="answer" id="choice{{ question.id }}"> <input type="submit" value="Valider"></li>
</form>
{% endif %}

{% if question.answer != 'None' %}
{{ "Résultats : " }} {{ question.answer }}
{% if question.isfilled %}
{{ "Nombre de points gagnés : "}}  {{ question.points }}
{% endif %}
{% endif %}