<div class="qualif" id="qualif_{{qualif.id}}">
  <div class="qualif__string">{{ qualif.string }}</div>
  
  <form action="{% url 'polls:pronosticQualif' qualif.id %}" name="qualif{{ forloop.counter }}" method="post" class="qualif__form">
    {% csrf_token %}
    
    {% if qualif.isPronoOver %}
      <div class="qualif__choice">
        <div class="qualif__squad">Prono : {{ qualif.prono }}</div>
      </div>
    {% else %}
      <div class="qualif__input">
        <label class="qualif__squad" style="cursor: pointer;">
          <input type="radio" name="prono" value="{{ qualif.squad_1 }}" {% if qualif.prono == qualif.squad_1 %}checked{% endif %} style="margin-right: 0.5rem; width:auto; height:auto;"/>
          {{ qualif.squad_1 }}
        </label>
      </div>
      <div class="qualif__input">
        <label class="qualif__squad" style="cursor: pointer;">
          <input type="radio" name="prono" value="{{ qualif.squad_2 }}" {% if qualif.prono == qualif.squad_2 %}checked{% endif %} style="margin-right: 0.5rem; width:auto; height:auto;"/>
          {{ qualif.squad_2 }}
        </label>
      </div>
    {% endif %}
  </form>

  {% if qualif.points_earned >= 0 %}
    <div class="qualif__result">
      Points gagnés : {{ qualif.points_earned }}
    </div>
  {% endif %}
</div>