<div class="match" id="match_{{match.id}}">
  {% if match.isPronoOver %}
    <div class="match__teams">
      <div class="match__team">
        <div class="match__team-name">
          {{ match.squad_1 }}
        </div>
        <div class="match__score">
          {% if match.isfilled %}{{ match.prono_1 }}
          {% else %}
            X
          {% endif %}
          {% if match.score_1 >= 0 %}
            <span class="match__result">
              ({{ match.score_1}})</span>
          {% endif %}
        </div>
      </div>
      <div class="opposing">
        {{" - " }}
      </div>
      <div class="match__team">
        <div class="match__score">
          {% if match.isfilled %}{{ match.prono_2 }}
          {% else %}
            X
          {% endif %}
          {% if match.score_2 >= 0 %}
            <span class="match__result">
              ({{ match.score_2}})</span>
          {% endif %}
        </div>
        <div class="match__team-name">
          {{ match.squad_2 }}
        </div>
      </div>
    </div>
  {% else %}
    <form action="{% url 'polls:pronosticMatch' match.id %}" name="match{{ forloop.counter }}" method="post">
      {% csrf_token %}
      <div class="match__teams">
        <div class="match__team">
          <div class="match__team-name">
            {{ match.squad_1 }}
          </div>
          <div class="match__input">
            <input type="number" name="score" id="choice" value="{{ match.prono_1 }}" class="match__score-input" min="0" required="required"/>
          </div>
        </div>
        <div class="opposing">
          {{" - " }}
        </div>
        <div class="match__team">
          <div class="match__input">
            <input type="number" name="score" id="choice" value="{{ match.prono_2 }}" class="match__score-input" min="0" required="required"/>
          </div>
          <div class="match__team-name">
            {{ match.squad_2 }}
          </div>
        </div>
      </div>
      <div class="submitbutton">
        <button type="submit" class="button">
          {% if match.isfilled %}Mettre à jour
          {% else %}
            Valider
          {% endif %}
        </button>
      </div>
      </form>
    {% endif %}
    {% if match.score_1 >= 0 and match.score_2 >= 0 %}
      <div class="match__points">
        {{ "Point(s) : "}}
        {{ point }}
      </div>
    {% endif %}

  </div>
