{% if match.isfilled %}
{% for matchchoice in match.matchchoice_set.all %}
{% if matchchoice.user == user %}
<form action="{% url 'polls:pronosticMatch' match.id %}" method="post">
{% csrf_token %}
<li>{{ match.squad_1 }} {{ " " }} <input type="number" name="score" id="choice{{ match.id }}_1" value="{{ matchchoice.score_1 }}">  {{ " - " }} <input type="number" name="score" id="choice{{ match.id }}_2" value="{{ matchchoice.score_2 }}"> {{ " " }} {{ match.squad_2 }} <input type="submit" value="Mettre à jour"></li>
</form>
{% endif %}
{% endfor %}
{% else %}
<form action="{% url 'polls:pronosticMatch' match.id %}" method="post">
{% csrf_token %}
<li>{{ match.squad_1 }} {{ " " }} <input type="number" name="score" id="choice{{ match.id }}_1">  {{ " - " }} <input type="number" name="score" id="choice{{ match.id }}_2"> {{ " " }} {{ match.squad_2 }} <input type="submit" value="Valider"></li>
</form>
{% endif %}