/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  line-height: 1.5;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}

/* ==================================================== */
/* ==================================================== */

:root {
  --main-bg-color-900: #401129;
  --main-bg-color-800: #561737;
  --main-bg-color-700: #6c1d45;
  --main-bg-color-600: #7a3357;
  --main-bg-color-500: #894a6a;
  --main-bg-color-400: #a6778f;
  --main-bg-color-300: #c4a4b4;
  --main-bg-color-200: #e1d1d9;
  --main-bg-color-100: #f0e8ec;
  --main-text-color: #404040;
}

html {
  font-family: Roboto;
  background: radial-gradient(#ffffff, #fcfcfc);
  color: var(--main-text-color);
}

a {
  color: var(--main-text-color);
}

/* ==================================================== */
/* ==================================================== */

.header {
  background-color: var(--main-bg-color-700);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  height: 5rem;
}

.header__link {
  color: white;
}

.header__title {
  font-size: 2rem;
  font-weight: 700;
}

.header__name {
  font-weight: bold;
}

.content {
  width: 100%;
  max-width: 800px;
  margin: auto;
  padding-top: 2rem;
}

.button {
  text-align: center;
  padding: 0.25rem 1rem 0.25rem 1rem;
  background-color: var(--main-bg-color-400);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  border-radius: 0.25rem;
  color: white;
  border: 0;
  cursor: pointer;
  transition-property: box-shadow, background-color;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}

.button:hover {
  background-color: var(--main-bg-color-600);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

/* ==================================================== */
/* ==================================================== */

.poll {
  padding: 1.5rem;
  width: 100%;
  background-color: #efefef;
  margin: auto;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  margin-bottom: 1.5rem;
}

.poll__name {
  font-weight: 700;
  font-size: 1.75rem;
}

.poll__title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #404040;
  margin-bottom: 1rem;
}

.poll__title-text {
  font-weight: 700;
  font-size: 1.25rem;
}

.poll__section {
  padding-top: 1rem;
  width: 100%;
  padding-bottom: 1rem;
}

.poll__section--not-last {
  border-bottom: 1px solid #404040;
  padding-bottom: 2rem;
}

.matchs {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* ==================================================== */
/* ==================================================== */

.questions {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.question {
  display: flex;
  flex-direction: column;
}

.question__content {
  display: flex;
  gap: 3rem;
}

.question__form {
  display: flex;
  gap: 1rem;
}

.question__result {
  display: inline-block;
  font-weight: normal;
  font-style: italic;
  width: 180px;
  color: green;
}

/* ==================================================== */
/* ==================================================== */

/* h2 {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 22px;
} */

.match {
  height: 95px;
  font-weight: bold;
}

.result {
  height: 40px;
  padding-top: 0.4em;
  font-weight: normal;
  font-style: italic;
  color: green;
}

.matchSquad1 {
  display: inline-block;
  width: 160px;
  font-size: 1.2em;
  text-align: center;
}

.opposing {
  display: inline-block;
  width: 8px;
  text-align: center;
}

.matchSquad2 {
  display: inline-block;
  width: 160px;
  font-size: 1.2em;
  text-align: center;
}

.submitButton {
  display: inline-block;
  width: 110px;
  text-align: center;
}

#choice {
  border-block-color: #32a1ce;
  font-style: italic;
  writing-mode: horizontal-tb;
  text-align: center;
  border-width: 4px;
  width: 130px;
}

.matchInput {
  display: inline-block;
  width: 150px;
  text-align: center;
}

.group {
  height: 220px;
  padding-left: 5%;
}

.groupStr {
  font-size: 1.2em;
  height: 30px;
}

.groupSquad {
  display: inline-block;
  width: 200px;
  height: 34px;
  font-size: 1.2em;
  text-align: center;
  border: solid;
  border-color: black;
  border-width: 1.474px;
  margin-right: -3px;
  margin-bottom: -1px;
}

.groupInput {
  display: inline-block;
  width: 80px;
  height: 34px;
  text-align: center;
  margin-left: -3px;
  margin-bottom: -1px;
}

#groupChoice {
  border-block-color: #32a1ce;
  font-style: italic;
  writing-mode: horizontal-tb;
  text-align: center;
  border-width: 4px;
  width: 80px;
  height: 34px;
}

.groupResult {
  display: inline-block;
  font-weight: normal;
  font-style: italic;
  width: 180px;
  color: green;
}
